@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$roboto: 'Roboto', sans-serif;
$nav-hover-background: #74B117;
$nav-font-size: 2rem;
$button-font-size: 2rem;
$main-font-size: 7rem;
$section-font-size: 5rem;
$paragraph-font-size: 4rem;
$nav-font-weight: 900;
$button-background:#84CC16;
$button-background-hover:#9AF214;